/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* основной акцент #2196F3 */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: Roboto;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.list {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* шапка */
.page-header {
border-bottom: 1px solid #ececec;
}

/* навигация сайта */
.site-main-nav {
  display: flex;
}

.logo {
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
}

.logo-begin {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-end {
  color: var(--title-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-end:hover,
.logo-end:focus {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav a {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.studio-title {
  color: var(--accent-color);
}

.site-nav .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* контакты сайта */
.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav .item +.item{
  margin-left: 50px;
}

.contacts-nav .list {
  display: flex;
}

.contacts-nav .item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.item-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-nav a {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.mail {
  color: var(--accent-color);
}

.contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* герой */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  color: #ffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  min-width: 200px;
  height: 50px;
  background-color:var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
}

.hero-button {
  cursor: pointer;
}

/* особенности */
.peculiarities-list {
  display: flex;
}

.peculiarities-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.peculiarities-list .item {
  margin-right: 30px;
} 

.peculiarities-list .item:nth-child(4n) {
  margin-right: 0px;
}

.peculiarities-title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.peculiarities-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}


/* чем мы занимаемся */
.work-title {
  text-align: center;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
}

.work-list {
display: flex;
}

.work-item {
  margin-right: 30px;
}

.work-item:nth-child(3n) {
  margin-right: 0px;
}


/* команда */
.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;

}

.team-item {
  margin-right: 30px;
}

.team-item:nth-child(4n) {
  margin-right: 0px;
}

.team-item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-member {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-position {
  display: block;
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.social-list .social-link:not(:last-child) {
  margin-right: 10px;
}

.link-icon {
  fill: currentColor;
}

.link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .link:not(:last-child) {
  margin: 0;
}

.link-item:hover,
.link-item:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.team-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-member {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.team-position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* покупатели */

.customers-title {
  color: var(--title-text-color);
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03;
  margin-bottom: 50px;
  text-align: center;
}

.customers-list {
  display: flex;
}

.customers-item +.customers-item {
  margin-left: 30px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px; 
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
color: var(--accent-color);
border-color: var(--accent-color);
}

/* подвал */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.adress-nav {
  margin-top: 20px;
}

.adress-list .item {
  margin-bottom: 9px;
}

.adress-list .item:nth-child(3n) {
  margin-bottom: 0px;
}

.logofooter-begin {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.logofooter-end {
  color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logofooter-end:hover,
.logofooter-end:focus {
  color: var(--accent-color);
}

.adress-nav .map-link {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-nav .map-link:hover,
.adress-nav .map-link:focus {
  color: var(--accent-color);
}

.adress-nav .adress-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-nav .adress-link:hover,
.adress-nav .adress-link:focus {
  color: var(--accent-color);
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.social-connect {
  display: block;
  margin-left: 70px;
}

.connect-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.connect-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect-link +.connect-link {
  margin-left: 10px;
}

.connect-link {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.connect-icon {
 fill : #ffffff;
}

.connect-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.connect-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect-item:hover,
.connect-item:focus {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

/* портфолио */
.filter {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filter-list .item{
  margin-right: 8px;
}

.filter-list .item:nth-child(5n) {
  margin-right: 0px;
}

.filter-btn {
  cursor: pointer;
  padding: 6px 22px;
  min-width: 73px;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* предложения */
.proposal {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.proposal-list {
  display: flex;
  flex-wrap: wrap;
}

.proposal-item {
  margin-right: 30px;
  margin-bottom: 30px;
} 

.proposal-item:nth-child(3n) {
  margin-right: 0;
}

.proposal-item:last-child(-n+3) {
  margin-bottom: 0;
}

.proposal-link {
  display: block;
  text-decoration: none;
  
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-title{
  Padding: 24px 0 20px 24px;
  Border-top: 0;
  Border: 1px solid #eeeeee
  }
  
.proposal-title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.proposal-text {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.proposal-link:hover,
.proposal-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
